<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tool-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tool-list`
     * &#39;crado un componente tool list&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ToolList extends Polymer.Element {
      static get is() { return 'tool-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tool-list'
          }
        };
      }
    }

    window.customElements.define(ToolList.is, ToolList);
  </script>
</dom-module>
