<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="tool-list">
  <template>
    <style>
      :host {
        display: block;
      }
      .task {
        display: flex;
        align-items: center;
      }
      paper-input{
        display: inline-block;
      }

    </style>
    <h3>Title</h3>

    <dom-repeat items="{{tasks}}" 
                as="task"
                filter ='isNotCompleted'
                observe = "completed">

      <template is="dom-repeat"> <!--enfatizar que tipo de template es-->

    <div class="task">
    <paper-checkbox checked="{{task.completed}}" ></paper-checkbox>
    <paper-input value="{{task.name}}" label="holis?" no-label-float></paper-input>
    </div>  

      </template>

    </dom-repeat>

<!--Segundo-->

<h3>Completado</h3>
    <dom-repeat items="{{tasks}}" 
                as="task"
                filter ='isCompleted'
                observe = "completed">

      <template is="dom-repeat"> <!--enfatizar que tipo de template es-->

    <div class="task">
    <paper-checkbox checked="{{task.completed}}" ></paper-checkbox>
    <paper-input value="{{task.name}}" label="callate :v" no-label-float></paper-input>
    </div>  

      </template>

    </dom-repeat>


    
    <div class="task">
    <paper-button type="button" name="button" value="" on-click="addTask">Add Task</paper-button>
    </div>
  </template>

  <script>
    /**
     * `tool-list`
     * &#39;crado un componente tool list&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ToolList extends Polymer.Element {
      static get is() { return 'tool-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tool-list'
          },
          tasks: {
            type: Array,
            value: () => []
          }
        };
      }

      addTask(){
        const newTask = {
          name: '',
          completed : false
        };

        this.push('tasks', newTask);
      }

      isNotCompleted(task){
        return !task.completed;
      }

      isCompleted(task){
        return task.completed;
      }

    }

    window.customElements.define(ToolList.is, ToolList);
  </script>
</dom-module>
